{% set omnis = salt['grains.filter_by'](
    {
    	'default': {},
    	'MacOS': {
            'application_directory': 'Omnis Studio Runtime 8.1.6 x64.app',
            'installer_source': 'ftp://omnis.net/OmnisStudio/Studio816/OmnisStudio/Runtime/osx64/Omnis-Studio-Runtime-8.1.6-x64.dmg',
            'installer_source_hash': 'FC961218067FB345FAC3158D27EFB2613D7D45C00B20793F7F9AB83A08BC4A3A'
	    }
  	},
    grain='os',
    merge=salt['pillar.get']('omnis:lookup'),
    base='default'
) %}